.btn {
    color: #fff;
    background-color: #00817d;
    padding: .5rem 1rem;
    margin: 0;
    border: none;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
        background-color: darken(#00817d, 2);
    }
}

.btn-block {
    width: 100%;
}
