/* Prevent font scaling in landscape while allowing user zoom */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* ------------------- Universal ---------------- */
* {
    /* Apply natural box layout */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

/* ------------------- Body ---------------- */
body {
    /* Text settings */
    color: $textColor;
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $normalWeight;
    -webkit-font-smoothing: antialiased;

    .btn-outline-primary {
        color: #ff5a5f;
        border-color: #ff5a5f;
    }

    .btn-outline-primary:hover {
        background-color: #ff5a5f;
        color: #fff;
        border-color: #ff5a5f;
    }

    .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle {
        background-color: #ff5a5f;
        color: #fff;
        border-color: #ff5a5f;
    }
}

/* ------------------- Header ---------------- */
h1 {
    font-size: 2rem;
    font-weight: $boldWeight;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: $boldWeight;
    margin: 0 0 15px 0;
}

// Boxes

.container {
    padding: 15px;
}

.box {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
}

.box-action {
    cursor: pointer;

    &:hover {

    }
}
