/* -------------- Text settings ------------------- */
$textColor: #484848;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$normalWeight: 300;
$boldWeight: 700;
