@import "variables";
@import "default";
@import "normalize";
@import "header";
@import "button";
@import "modal";
@import "input";
@import "bottle";
@import "rating";
@import "helpers";

a, a:active {
    color: #00817d;
}

.VictoryContainer,
.VictoryContainer svg {
    height: inherit !important;
}

.map-container {
    height: 30vh;

    .map {
        height: 30vh;
        margin: 1rem 0;
    }
}

.container {
    padding: 1rem;
}

i {
    color: #00817d;
}

.card {
    border: 1px solid #333;
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1rem;

    .card__head {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #00817d;
        font-weight: 500;
    }

    .card__subhead {
        font-size: 1rem;
        margin-top: -1rem;
        font-weight: 400;
    }

    .card__title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .3rem;
    }

    .card__description {
        font-size: .8rem;
        font-style: italic;
    }
}

.event__detail {
    font-size: 1.1rem;

    i {
        color: #00817d;
    }
}

.event__map {
    height: 100px;
    max-width: 100px;
}

.event__sep {
    font-weight: 300;
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

.notes {
    .input {
        margin-top: .25rem;
    }

    .input__field {
        width: 100%;
    }
}
