// Event List



.events {
    display: flex;
    flex-direction: column;

    i {
        color: #00817d;
    }

    .box {
        h3 {
            color: #00817d;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .event__title {
            font-weight: 700;
            margin-bottom: .3rem;
        }

        .event__desc {
            font-size: .8rem;
            font-style: italic;
        }
    }
}
// Event Details

.event {
    padding: 1rem;

    .event__desc {
        font-style: italic;
        margin: 1rem 0;
    }

    .event__detail {
        font-size: 1.1rem;

        i {
            color: #00817d;
        }
    }
}
