.margin-bottom-md {
    margin-bottom: 1rem;
}

.margin-vertical-md {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.margin-top-md {
    margin-top: 1rem;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.text-300 {
    font-weight: 300;
}

.text-center {
    text-align: center;
}
