.input {
    .input__placeholder {
        font-size: .75rem;
        color: #00817d;
        min-height: 1.125rem;
    }

    .input__field {
        border: 0;
        border-bottom: 2px solid #00817d;
    }
}
