.menu {
    margin-bottom: 1rem;

    h2 {
        margin: 1rem 0;
    }

    .menu__add {
        margin-left: 1rem;
        border: 3px solid #00817d;
        border-radius: 1rem;
        height: 1.6rem;
        width: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottle {
        padding: 1rem;
        border: 1px solid #333;
        margin-bottom: 1rem;

        .bottle__distillery {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}
