.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 90;

    .modal__content {
        padding: 1rem;
        background-color: #fff;
        border: 1px solid #333;
        border-radius: .25rem;
        width: 90%;
        max-width: 650px;
    }

    &.open {
        display: flex;
    }
}

.modal__body {
    overflow: hidden;
}
